.knowledge {
  margin: 14px auto 0;
  background: rgba(196, 196, 196, 0.35);
  border-radius: 10px;
  padding: 12px 15px;
}

.knowledge__title {
  margin: 0 0 0 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.knowledge__item {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.knowledge__icons {
  width: 240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.knowledge__icon {
  width: 46px;
}

.knowledge__icon_big {
  width: 100px;
}