.profile {  
  height: 380px;
  border-bottom: 1px solid #343666;
  background-color: rgb(255, 255, 255, 0.05);
}

.profile__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile__photo {
  margin: 0;
  width: 238px;
  height: 320px;
}

.profile__name {
  margin: 5px 0 0 0;
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  color: #fff;
}

.profile__name_dev {
  font-size: 20px;
  line-height: 20px;
}
