.contact-item {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background: rgba(196, 196, 196, 0.35);
  border-radius: 10px;
  padding: 8px 15px;
  text-decoration: none;
}

.contact-item:hover {
  cursor: pointer;
  background: rgba(196, 196, 196, 0.5);
}

.contact-item:first-of-type,
.contact-item:last-of-type {
  cursor: default;
  background: rgba(196, 196, 196, 0.35);
}

.contact-item__icon {
  width: 24px;
  height: 24px;
  background-position: center;
}

.contact-item__text {
  margin: 0 0 0 30px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
}