.header {
  position: relative;
  height: 42px;
  border-bottom: 1px solid #343666;
  display: flex;
  justify-content: flex-start;
}

.header__github {
  width: 240px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
  text-align: center;
}

.header__github-icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.header__github-name {
  width: 200px;
  height: 100%;
  margin: 0;
  font-size: 18px;
  line-height: 38px;
  font-weight: 400;
  color: #fff;
  box-sizing: border-box;
  border-right: 1px solid #343666;
}

.header__github:hover {
  cursor: pointer;
  background-color: #343666;
  box-shadow: 0px 0px 4px #000;
  transform: translateY(-2px) translateX(-2px);
}

.header__tab-light {
  margin-left: 10px;
  width: 10px;
  height: 10px;
  background-color: rgb(255, 255, 255, .5);
  border-radius: 50%;
}

.header__tab-light_active {
  background-color: #47c500;
  box-shadow: 0px 0px 10px #00d841;
}

.header__tab-list {
  display: flex;
  width: calc(100% - 240px);
}

.header__tab {
  width: 180px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: .3s;
  text-decoration: none;
  border-right: 1px solid #343666;
}

.header__tab_active {
  background-color: #2e263c;
  pointer-events: none;
}

.header__tab:hover {
  cursor: pointer;
  background-color: #343666;
  box-shadow: 0px 0px 4px #000;
  transform: translateY(-1px) translateX(-1px);
}

.header__tab-name {
  width: 200px;
  margin: 0 0 0 20px;
  font-size: 18px;
  line-height: 38px;
  font-weight: 400;
  color: #5a4f6c;
}

.header__tab:hover .header__tab-name {
  color: #8669c3;
}

.header__tab-list::-webkit-scrollbar {
  height: 4px;
}

.header__tab-list::-webkit-scrollbar-track {
  opacity: 1;
  border: 1px solid #343666;
}

.header__tab-list::-webkit-scrollbar-thumb {
  background-color: #5a4f6c;
}

@media screen and (max-width: 1280px) {
  .header__tab-light {
    width: 12px;
    height: 8px;
  }
  .header__tab-light_active {
    box-shadow: 0px 0px 8px #00d841;
  }
  .header__tab-name {
    font-size: 16px;
    line-height: 38px;
    font-weight: 400;
  }
}

@media screen and (max-width: 820px) {
  .header__tab-list {
    overflow-x: scroll;
    overflow-y: hidden;
  }
}

@media screen and (max-width: 500px) {
  .header {
    display: none;
  }
}
