.burger-menu {
  display: none;
  position: absolute;
  box-sizing: border-box;
  height: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: .5s;
  background-color:#231a32;
}

.burger-menu_opened {
  height: 200px;
  background-color:#231a32;
}

.burger-menu__input {
  display: none;
}

.burger-menu__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  transform: translate(-20px);
}

.wrapper__line {
  height: 4px;
  width: 40px;
  background-color: #5e415c;
  margin-bottom: 10px;
  transition: .5s;
}

.wrapper__line:first-of-type {
  margin-top: 10px;
}


.burger-menu__input:checked ~ .burger-menu__wrapper .wrapper__line:first-child {
  width: 20px;
  background-color: #d7b0b0;
  transform: rotate(45deg) translateX(15px) translateY(-10px);
}

.burger-menu__input:checked ~ .burger-menu__wrapper .wrapper__line:last-child {
  width: 20px;
  background-color: #d7b0b0;
  transform: rotate(45deg) translateX(15px) translateY(-30px);
}

.burger-menu__input:checked ~ .burger-menu__wrapper .wrapper__line:nth-child(2){
  background-color: #d7b0b0;
  transform: rotate(-45deg) translateX(12px) translateY(7px);
}

@media screen and (max-width: 500px) {
  .burger-menu {
    display: block;
  }
}