.slide-item__image {
  position: relative;
  height: 220px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-self: center;
  border-radius: 8px;
  transition: .3s;
  margin-left: 10px;
}

.slide-item__image:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.slide-item__cover {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: rgba(76, 33, 165, .5);
  transition: 1s;
  opacity: 1;
}

.slide-item__image:hover .slide-item__cover {
  opacity: 0;
}

@media screen and (max-width: 1280px) {
  .slide-item__image {
    height: 200px;
  }
}

@media screen and (max-width: 1024px) {
  .slide-item__image {
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  .slide-item__image {
    height: calc(100vh - 660px);
  }
}

@media screen and (max-width: 500px) {
  .slide-item__image {
    position: relative;
    height: 240px;
    padding: 0;
    margin: 0;
    background-size: contain;
    border-radius: 0;
  }
  .slide-item__cover {
    height: 240px;
    border-radius: 0;
    opacity: 0;
  }
}