.app {
  width: 100%;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__content {
  width: 1280px;
  font-family: 'Segoe UI', sans-serif;
  border: 1px solid #343666;
  background-color: #231a32;
  box-shadow: 0px 0px 12px #0c0022;
}

.app__sidebar {
  width: 240px;
  border-right: 1px solid #343666;
}

.app__main {
  display: flex;
}

@media screen and (max-width: 1500px) {
  .app__content {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .app__main {
    height: 553px;
  }
}